@use '../settings';

.layoutStyle {
  background-color: rgb(245, 245, 245);
  background: url(/images/spiral-bg.png) center/cover no-repeat;
  background-size: auto 100%;
  font-family: settings.$font1;
  color: rgb(0, 132, 255);
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  max-width: 1920px;
  min-width:320px;

////////////RESPONSIVE//////////////

  @media (max-width: 980px) {
    background: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 2%;
      left: 0;
      width: 100%;
      height: 25px; 
      z-index: 5;
    }
  }
  @media (max-width: 900px) {
    background: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 2%;
      left: 0;
      width: 100%;
      height: 25px;
      z-index: 5;
    }
  }
  @media (max-width: 768px) {
    background: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 2%;
      left: 0;
      width: 100%;
      height: 25px;
      z-index: 5;
    }
  }
}